<h1>
Hello from Rails!
</h1>
<p>
It is Now <%= @time %>
</p>
<p>
Say <a href='/say/goodbye'> Goodbye </a>
</p>


<p>
SAY 
<%= link_to "GOODBYE", say_goodbye_path %>

</p>

<p>
<%= 1+2 %>
<%= "cow" + "boy" %>
<%= 1.hour.from_now %>

